html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Candara';
    background-color: black;
    word-wrap: break-word;
}
/* HEADER */
.header {
	background-image: url("images/stars.png");
	width: 100%;
	height: 120px;

}

header img {
	height: 100%;
	width: 100%;
}

.nabla-logo {
    margin-top: -4px;
    margin-left: 13%;
}

/* MENU */

.menu {
  background-color: transparent;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.menu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-top: 45px;
  margin-right: 60px;
  font-size: 150%;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.menu a:hover {
  background-color: transparent;
  color: #089c9c;
  transition: 0.8s;
}

/* Add an active class to highlight the current page */
.menu a.active {
  background-color: transparent;
  color: #089c9c;
}

/* Hide the link that should open and close the topnav on small screens */
.icon {
  display: none;
}

@media screen and (max-width: 1250px) {
  .menu a {
  	display: none;
  }

  .icon {
  	 position: absolute;
  	 display: block;
  }
}

.iconcont {
	position: relative;
	margin-top: 0px;
	margin-left: 87%;
	bottom: 90px;
}



/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1250px) {
  .menu.responsive {
  	position: absolute;
  	background-color: white;
  	top: 100px;
  	right: 30px;
  	z-index: 1;
  }

  .menu.responsive a {
    float: none;
    display: block;
    text-align: middle;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: black;
  }
  .menu.responsive a:hover {
  color: #089c9c;
  transition: 0.8s;
  }
   .menu.responsive a.active {
  color: #089c9c;
  transition: 0.8s;
  }

}

.bar {
	width: 35px;
  	height: 5px;
  	background-color: white;
  	margin: 6px 0;
  	transition: 0.4s;
}

.line {
	background-color: #089c9c;
	width: 100%;
	height: 2px;
	overflow: hidden;
    white-space: nowrap;
}

/* MAIN BODY */
.mainBody {
	color: white;
	padding-top:100px;
	text-align: justify;
	padding-bottom: 100px;
	word-wrap: break-word;
	width:70%;
	margin: auto;
}

.fractal img {
	height: 50%;
	width: 70%;
	margin:auto;
}

.fractal {
	width: 500px;
	float: right;
	display: inline-block;
	margin: auto;
   padding-left: 10%;
    margin-right: -8%;
}

.text {
	display: inline-block;
	word-break:break-all;
}

.text img {
	display: inline-block;
	align: right;
	width: 100%:
	height: 100%;
}
/* MEMBERS */
.members img {
    align: right;
    height: 100%;
    width: 120%;
}

.members {
    margin-right: -260%;
    float: right;
}

.list {
    padding-left: 5em;
}

.title {
    color: #089c9c;
}

.foka img {
    width: 25%;
    align: center;
}

/* PROJECTS */
.foka {
    align: center;
    margin-top: 30px;
}
/* NEWS*/
.row {
    display: flex;
    z-index: -1;
}

.column {
    flex: 49%;
    position: relative;
    margin-bottom: 45px;
}

.column img {
    width: 80%;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #089c9c;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.column:hover .overlay {
    width: 80%;
}

.text-event {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    /*-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    white-space: wrap;
    text-align: left;
    align: left;
}

.mainBodyNEWS {
    color: white;
    padding-top:100px;
    padding-right: 15%;
    padding-left: 20%;
    text-align: justify;
    position: relative;
}

/* unvisited link */
.text-event a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* visited link */
.text-event a:visited {
    color: lightgrey;
    font-weight: bold;
    text-decoration: none;
}

/* mouse over link */
.text-event a:hover {
    text-decoration: underline;
}

/* selected link */
.text-event a:active {
    color: white;
    text-decoration: none;
}

/* FOOTER */
.footer {
	background-image: url("images/stars.png");
	width: 100%;
	height: 150px;
	color: white;
}

h2 {
	font-weight: normal;
	text-align: center;
}

#CONTACT {
	margin-top: 7px;
}

.col-cust1 {
	margin: auto;
}

.col-cust2 {
margin:auto;
}

.cont {
	padding-right:20%;
	padding-left: 17%;
	margin:auto;
}

.tx {
	font-size: 150%;
	padding-top:0px;
}

.rowsoc {
	display: inline-block;
	width: auto;
	margin-left:10PX;
}
.rowsoc img {
	height: 40px;
	padding-top: 0px;
	display: inline-block;
	padding-right: 5px;
}

.rowsoc img:hover {
	transform: scale(1.2);
	transition: .5s ease;
}

.final {
	background-color:  #089c9c;
	width: 100%;
	height: 30px;
	margin-top: 15px;
	color: white;
}

.containerfinal {
	padding-right: 10%;
	padding-left:10%;
}

.copyr {
	margin:auto;
	margin-top: 3px;
}

.copyr a {
	color:white;
  text-decoration: none;
}

.copyr a:hover {
	font-weight: bold;
}


@media screen and (max-width: 500px) {

.footer {
height: 220px;
}

}

@media screen and (max-width: 850px) {

.final {
	height: 45px;
}
.fractal {
	float: none;
}

.constr img {
	float: none;
}

}